{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/connexion.css">
{% endblock %}
{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-md-3">&nbsp;
        </div>
        <div class="col-md-6 mt-10">

            <h1>Modification du mot de passe</h1>

                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-success btn-arrondi mt-4">Confirmez les modifications</button>
                {{form_end(form)}}
        </div>

        <div class="col-md-3">&nbsp;
        </div>
    </div>
</div>

{% endblock %}