.container{
    max-width: 1600px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.lien{
    text-decoration: none;
    text-decoration-line: none;
        text-decoration-style: none;
        text-decoration-color: transparent;
}
.btn-lg{
    border-radius: 2rem;
}
.imageappart{
    height: 200px;
    width: 100%;
    display: block;
}
.bdr{
    border-radius :1.5rem;
}
 .ronde{
     border-radius:50%;
 }
 .btn-arrondi{
    border-radius: 2rem;
 }
 .mt-10{
    margin-top: 50px;
}
.alert-danger {
    color: #fdf9f9;
    background-color: #fd744e;
    border-color: #f7966f;
}
.center{
    text-align: center;
}
.titre{
    font-size: 2rem;
    padding: 2rem;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
div.titre h1, div.titre p{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.navbar-nav {
    padding-left: 5%;
}
.avatar-mini{
    max-width: 30px;
    max-height:30px;
    
}
.dropdown-item{
    color:#e75a0e;
}
span.note i{
    color:rgb(236, 181, 40);
}
.avatard{
    max-height: 40px;
    
}
text-warning a{
    text-decoration: none;
}
.petit{
    font-size: 0.9rem;
}
.titre{
    font-size: 2rem;
    padding: 2rem;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
div.titre h1, div.titre p{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.carte h4{
    font-size: 1.3rem;
}
div.carte p{
    font-size: 0.9rem;
}

.disposition{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 5fr 1fr 4fr 1fr 4fr ;
    grid-template-rows: 200px 500px 200px;
    grid-template-areas: "a . b . c . d . e" "f . g . h . i . j" "k . l . m . n . o";
    grid-row-gap:15px;

    
  }
  a{
      color: #fff;
      text-decoration: none;
      text-decoration-line: none;
        text-decoration-style: none;
        text-decoration-color: transparent;
  }
  
  .principal{
      overflow: hidden;
      grid-area: h;
      width: 140%;
  }
  .a1{
    margin-left: -30%;
    grid-area: a;
    
}
.tourne1 {
  transform: rotate(-20deg); 
  max-height: 200px;
  min-width: 300px;
  z-index: -1;
}
.titre1{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(500%) translateX(13%) rotate(15deg) ; 
}
.a2{
    margin-left: -15%;  
    grid-area: b;
    
}
.tourne2 {
  transform: rotate(-10deg); 
  max-height: 150px;
  z-index: -1;
}
.titre2{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(260%) translateX(10%) rotate(-34deg);
    font-size: 1.3rem;
}
.a3{
    margin-top: -28%;
    margin-left: 10%; 
    grid-area: c;
    
}
.tourne3 {
  transform: rotate(0deg); 
  max-height: 150px;
  min-width: 240px;
  z-index: -1;
}
.titre3{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform: translateY(125%) translateX(4%);
    font-size: 1.25rem;
}
.a4{
    margin-left: 10%;  
    grid-area: d;
    
}
.tourne4 {
  transform: rotate(10deg); 
  max-height: 200px;
  margin-left: 30px;
  z-index: 9;
}
.titre4{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(250%) translateX(15%) rotate(10deg);
    z-index: 10;
}
.a5{
    margin-left: 40%; 
    grid-area: e;
    
}
.tourne5 {
  transform: rotate(20deg); 
  max-height: 140px;
  min-width: 210px;
  z-index: -1;
}
.titre5 {
	color: #fff;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	transform: translateY(330%) translateX(5%) rotate(20deg);
	max-width: 170px;
	font-size: 1.1rem;
}
.a6{
    margin-top: 100px;
    margin-left:-40%; 
    grid-area: f;
    
}
.tourne6 {
 
  transform: rotate(15deg); 
  max-height: 250px;
  z-index: -1;
}
.titre6{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(350%) translateX(12%) rotate(15deg) ; 
    font-size: 1.1rem;
}
.a7{
    margin-left: -30%; 
    grid-area: g;
    
}
.tourne7{
  margin-top: 100px;
  transform: rotate(-5deg); 
  max-height: 200px;
  z-index: -1;
}
.titre7{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(1100%) translateX(22%) rotate(-5deg) ;
    font-size: 0.9rem;
}
.a8{
    margin-top: 200px;
    margin-left: 40% ;
    grid-area: i;
    
}
.tourne8 {
    
  transform: rotate(-5deg); 
  max-height: 180px;
  z-index: -1;
}
.titre8{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(500%) translateX(3%) rotate(-5deg)  ; 
    font-size: 0.9rem;
}
  .a9{
    margin-top: -80px;
    margin-left: 30% ;
      grid-area: j;
      
  }
  .tourne9{
    margin-top: 100px;
    transform: rotate(-20deg); 
    max-height: 270px;
    z-index: -1;
  }
  .titre9{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(1150%) translateX(50%); 
}
  .a10{
    margin-top: -60px;
    margin-left: -10% ; 
    grid-area: l;
    
}
.tourne10 {
    margin-top: -100px;
  transform: rotate(-20deg); /* Équivalent à rotateZ(45deg) */
  max-height: 250px;
  z-index: -1;
}
.titre10{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform:translateY(200%) translateX(15%) rotate(-5deg) ; 
    font-size: 0.9rem;
}