.container{
    max-width: 1500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-lg{
    border-radius: 2rem;
}
.imageappart{
    height: 200px;
    width: 100%;
    display: block;
}
.bdr{
    border-radius :1.5rem;
}
 .ronde{
     border-radius:50%;
 }
 .btn-arrondi{
    border-radius: 2rem;
 }
 .mt-10{
    margin-top: 50px;
}
.alert-danger {
    color: #fdf9f9;
    background-color: #fd744e;
    border-color: #f7966f;
}
.titre{
    font-size: 2rem;
    padding: 2rem;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
div.titre h1, div.titre p{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.navbar-nav {
    padding-left: 5%;
}
.avatar-mini{
    max-width: 30px;
    max-height:30px;
    
}
.dropdown-item{
    color:#e75a0e;
}
span.note i{
    color:rgb(236, 181, 40);
}
.avatard{
    max-height: 40px;
    
}
text-warning a{
    text-decoration: none;
}
.petit{
    font-size: 0.9rem;
}
.titre{
    font-size: 2rem;
    padding: 2rem;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
div.titre h1, div.titre p{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}