{% extends 'base.html.twig' %}
{%block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur &laquo Gîtes en Pays Médiéval &raquo !</h1>
        <p class="lead">Nous vous permettons, Ô vous de ces temps reculés, de disposer  
                    rapidement d'un site Internet afin de mettre votre grange, votre ferme ou votre chateau en
                    location et d'en retirer quelques sous !</p>
        <hr class="my-4">
        <p class="lead">Vous, courageux voyageur, parcourrez notre site et trouvez un logement pour votre 
                    prochaine quête !</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2>Nos appartements récents...</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light bg-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49€ / nuit</strong><br>
                    <small>Pas encore noté</small>
                    <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" class="imageappart" >
                    <div class="card-body">
                        <h4 class="card-title">
                            Une grange de Ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                                    Aliquam veritatis fugit atque unde possimus numquam quas exercitationem officia 
                                                    itaque. Atque!</p>
                        <a class="btn btn-secondary bdr" href="#">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
   
    
        <div class="col-md-4">
            <div class="card bg-light bg-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49€ / nuit</strong><br>
                    <small>Pas encore noté</small>
                    <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" class="imageappart" >
                    <div class="card-body">
                        <h4 class="card-title">
                            Une ferme de Ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                                    Aliquam veritatis fugit atque unde possimus numquam quas exercitationem officia 
                                                    itaque. Atque!</p>
                        <a class="btn btn-secondary bdr" href="#">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card bg-light bg-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49€ / nuit</strong><br>
                    <small>Pas encore noté</small>
                    <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" class="imageappart" >
                    <div class="card-body">
                        <h4 class="card-title">
                            Un chateau de Ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                                    Aliquam veritatis fugit atque unde possimus numquam quas exercitationem officia 
                                                    itaque. Atque!</p>
                        <a class="btn btn-secondary bdr" href="#">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-5 mb-3"> Nos logeurs récents :</h2>
    <div class="row mt-5 ">
        <div class="col">
            <div class="card border-secondary mb-3">
            <div class="card-body">
            <h4 class="card-title">Tyrion Lannister</h4>
            <hr>
            <div class="card-text">
            <img src="https://via.placeholder.com/64" alt="Tyrion Lannister" class="ronde float-left mr-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, odit?</p>
            <a href="#" class="btn btn-success float-right bdr">En savoir plus !</a>
            </div>
            </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card border-secondary mb-3">
            <div class="card-body">
            <h4 class="card-title">Tyrion Lannister</h4>
            <hr>
            <div class="card-text">
            <img src="https://via.placeholder.com/64" alt="Tyrion Lannister" class="ronde float-left mr-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, odit?</p>
            <a href="#" class="btn btn-success float-right bdr">En savoir plus !</a>
            </div>
            </div>
            </div>
        </div>
    </div>       
</div>


{% endblock %}
{% block javascripts %}{% endblock %}
